/* Estilos para el formulario dentro del modal */
#frmAgregarUsuario {
    padding: 20px; /* Espaciado interno */
}

#modalAgregarUsuarios .modal-title {
    font-size: 1.25rem; /* Tamaño de fuente del título del modal */
    color: white; /* Color del título del modal */
    margin-bottom: 10px; /* Espacio inferior */
}

#modalAgregarUsuarios .modal-title i {
    margin-right: 5px; /* Espacio entre el icono y el texto */
}

#modalAgregarUsuarios .modal-body {
    padding: 20px; /* Espaciado interno */
}

#modalAgregarUsuarios label {
    font-weight: bold; /* Negrita para los labels */
    margin-bottom: 5px; /* Espacio inferior */
}

#modalAgregarUsuarios .form-control {
    margin-bottom: 15px; /* Espacio entre los elementos de entrada */
}

#modalAgregarUsuarios .modal-footer {
    justify-content: flex-end; /* Alineación de los botones a la derecha */
}

