body {
    background-image: url('../img/hoyo-negro-alrededor-de-asteroides-y-planetas_5120x2880_xtrafondos.com.jpg');
    -webkit-background-size: cover ;
    -moz-background-size: cover ;
    background-size: cover;
    -o-background-size: cover;
}